@{
    Layout = "_MainLayout";
    ViewBag.Title = "Terms of Use";
}

<div class="container mt-4">
    <h2>Terms of Use</h2>
    <p>By using this website, you agree to follow our terms and conditions.</p>
</div>
