@{
    Layout = "_Layout";
}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Left: Equinox Brand -->
        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Equinox</a>

        <!-- Right: Site link -->
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Site</a>
            </li>
        </ul>
    </div>
</nav>

<main class="container mt-4">
    @RenderBody()
</main>
